<div style=" padding: 10px; background-color: #396fbb; display: flex; align-items: center; justify-content: space-between;">
    <div style="flex: 1;">
        <a href="/" style="color: white; text-decoration: none; font-weight: bold; font-size: 20px;">🏠 Home</a>
    </div>
    <div style="flex: 2; text-align: center;">
        <h1 style="margin: 0; font-size: 24px; color: white;">Nittany Business Platform</h1>
    </div>
    <div style="flex: 1; text-align: right; color: white;">
        Login
    </div>
</div>
