<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }
        
        .container {
            text-align: center;
            margin: auto 0;
        }

        button {
            color: white;
            background-color: #396fbb;
            border-radius: 15px;
            padding: 15px;
            margin: 10px;
        }

    </style>
</head>
<body>
    {% include 'header.html' %}

    <h1 style="text-align: center;" >Update Profile</h1>
    <form action="/profile" method="post">
        <div class="container" >
            <div>
                Email: <input type="email" name="email" required>
            </div><br>

            <div>
                New Password: <input type="password" name="new_password" required>
            </div><br>
        <button type="submit">Update</button>
        </div>
    </form>

</body>
</html>
